.title {
    text-align: center;
    color: white;
}

.type {

    color: white;
    border: 3px black solid;
    margin: 10px auto;
    width: 250px;

}

.rat {
    transition: transform 0.3s;
    text-align: center;
}

.rat:hover {
    transform: scale(1.1);
}

.red {
    text-align: left;
    color: white;
    text-align: center;
}

.brown {
    font-weight: 200;
    text-indent: 10px;
    color: white;
    text-align: center;
}

.ssiva {
    color: white;
    text-align: center;

}

.svet {
    font-weight: 200;
    text-indent: 10px;
    color: white;
    text-align: center;
}

.fourimage {
    display: inline-block;
    text-align: center;
}

.dad {
    margin-left: 10px;
}

.pop {
    margin-left: 10px;
    ;
}

.vov {
    margin-left: 10px;

}

.got {
    margin-left: 10px;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp10959283.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}

.bob {
    color: white;
}

.boss {
    font-style: italic;
    color: white;
}

table{
    width: 70%;
    border: 3px solid black;
    margin: auto;
 
}
th, td{
    border: 1px solid black;
    padding: 5px;

}
.container1q {

    width: 960px;
    margin: 0 auto;
    background-image: url(https://avatars.mds.yandex.net/i?id=a36d3877f77e63ae56f00e38ddbbe05830a9f6e8-6372940-images-thumbs&n=13);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pop1 {
    font-style: italic;
    color: white;
}

.sad {
    font-weight: 200;
    color: white;
    font-style: italic;
}

.music {
    color: white;
    font-style: italic;
}

.music1 {
    font-weight: 200;
    color: white;
}

.rot {
    transition: transform 0.3s;
    text-align: center;
}

.rot:hover {
    transform: scale(1.1);
}

.loc {
    color: white;
    text-align: center;
}

.location1 {
    font-weight: 200;
    color: white;
    text-indent: 10px;

}

.foto1 {
    transition: transform 0.3s;
    text-align: center;
}

.foto1:hover {
    transform: scale(1.1);
}

table {
    background-color: #2d2c38;
    font-style: italic;
    color: white;
    font-size: 15;
    font-weight: 900;
}

.jony {
    text-align: center;
    color: white;
}

.jony1 {
    color: white;
    font-weight: 200;
}


.asd {
    color: black;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
}

li {
    border: 1px solid white;
    float: left;
}

li a {
    padding: 14px 16px;
    text-decoration: none;
}

@media(max-width: 1000px) {
    #R {
        display: none;
    }

    .container1q,
    .container2,
    .container3,
    .container4 {
        width: 800px;
    }

}

@media(max-width: 800px) {

    .container1q,
    .container2,
    .container3,
    .container4 {
        width: 700px;
    }

}

@media(max-width: 700px) {
    #E {
        display: none;
    }

    .container1q,
    .container2,
    .container3,
    .container4 {
        width: 600px;
    }

}

@media(max-width: 600px) {

    #E,
    #R {
        display: none;
    }

    .container1q,
    .container2,
    .container3,
    .container4 {
        width: 500px;
    }

}

a {
    text-decoration: none;
}

.world>img {
    width: 500px;
    text-align: center;

}